version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    env_file: .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./full_backup.sql:/docker-entrypoint-initdb.d/full_backup.sql:ro
      - "${POSTGRES_VOLUME}:/var/lib/postgresql/data"
      
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    name: ${POSTGRES_VOLUME}

networks:
  postgres_net:
    driver: bridge
