services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    # if you are running as root then set it to 0
    # else find the right id with the id -u command
    user: '0'
    ports:
      - '3322:3000'
    # adding the mount volume point which we create earlier
    volumes:
      - './data:/var/lib/grafana'